{% extends 'base.html' %}
{% block title %}<title>{{ todolist.title }}</title>{% endblock %}

{% block content %}
    <ul class="sidebar-nav">
          <h3>Detail for {{ todolist.title }}:</h3>
          Name: <strong>{{ todolist.title }}</strong><br>
          Type: <strong>{{ todolist.category }}</strong><br>
          Due date: <strong>{{ todolist.due_date }}</strong><br>
          Created date: <strong>{{ todolist.created }}</strong><br>
          Task text: <strong>{{ todolist.content }}</strong> <br>
          Messages: {{ todolist.message.count }}<br>
                    {% for mess in todolist.message.all %}
                     {{ mess.date }}: <strong>{{ mess.text }}</strong><br>
                    {% endfor %}
    </ul>
    <form action="{% url 'add_message' todolist.id %}" method="POST">
        {% csrf_token %}
        <em>Add message about progress:</em><br>
        <textarea rows="2" cols="37" name="message"></textarea><br>
        <input type="hidden" name="user" value="{{ user.get_username }}">
        <input type="submit" name="add" value="Add message">
    </form>
{% endblock %}